@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Global style */
@font-face {
  font-family: Cocogoose;
  src: url('Cocogoose_trial.ttf');
}

body {
  font-family: 'Lato', Cocogoose, sans-serif;
  line-height: 1.5;
}

:root {
  --primary-color: #ec5242;
  --dark-color: #272a31;
  --light-color: #d3d3d3;
  --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header style */

.header-section {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(images/web-bg-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-section a {
  color: var(--dark-color);
}

.header-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
}

.navbar {
  width: 100%;
  position: fixed;
  height: 50px;
  background-color: var(--white-color);
}

.nav-desktop {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
}

.nav-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}

.hamburger {
  z-index: 5;
  position: absolute;
  left: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu-line {
  height: 4px;
  width: 35px;
  margin-bottom: 5px;
  background-color: var(--dark-color);
}

/* Header content */
.sub-header {
  max-width: 90%;
  margin: 5rem auto;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.small-paragraph {
  color: var(--primary-color);
  font-size: 25px;
  font-family: 'lato', sans-serif;
}

.bg-heading {
  color: var(--primary-color);
  font-family: Cocogoose, sans-serif;
  font-size: 45px;
  font-weight: 900;
  line-height: 1.2;
  background: -webkit-linear-gradient(var(--primary-color), #c01e0c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-content {
  width: 100%;
  border: 2px solid var(--white-color);
  padding: 20px;
  color: var(--dark-color);
}

.bg-paragraph {
  color: var(--dark-color);
  font-family: Cocogoose, sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
}

.lead-md {
  color: var(--dark-color);
}

/* Program section */

.program {
  background-image: url('images/program-bg-img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.program-wrapper {
  color: #fff;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
}

.program-heading {
  position: relative;
  text-align: center;
  margin: 2rem auto;
}

.md-heading {
  color: var(--light-color);
  font-size: 30px;
  text-align: center;
  margin: 24px 0 10px;
}

.underline {
  position: absolute;
  bottom: -12.8px;
  width: 48px;
  left: 50%;
  height: 1px;
  transform: translate(-50%);
  background-color: var(--primary-color);
  text-align: center;
  margin: 0 auto;
}

.program-list {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 90%;
  margin: 1rem auto;
  color: var(--light-color);
}

.program-item {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 20px;
  background-color: var(--dark-color);
}

.program-item i {
  font-size: 30px;
}

.topic {
  font-size: 25px;
  color: var(--primary-color);
}

.button {
  max-width: 90%;
  margin: 0 auto 2rem;
}

.btn {
  padding: 20px;
  text-align: center;
  background-color: var(--primary-color);
  border: none;
  color: var(--white-color);
  font-family: Cocogoose, sans-serif;
}

/* Featured style */

/* Media query for mobile */
@media (max-width: 768px) {
  .nav-desktop {
    display: none;
  }

  .navbar {
    background-color: transparent;
  }
}

/* Media query for desktop */
@media (min-width: 769px) {
  .hamburger {
    display: none;
  }
}
